<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, intial-scale=1" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"
            integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz"
            crossorigin="anonymous">
    </script>
</head>
<body>

    <!-- Confirmation prompt -->
    <div th:fragment="confirmation-prompt" id="delete-confirmation" class="absolute right-4 bottom-2 text-white font-medium">
        <p>Are you sure?</p>
        <button class="bg-amber-900 px-2 rounded-md shadow-md m-0.5">YES</button>
        <button hx:get="@{/collections/cancel-delete}"
                hx-target="#delete-confirmation"
                hx-swap="innerHTML"
                class="bg-gray-700 px-2 rounded-md shadow-md hover:cursor-pointer">NO</button>
    </div>

<!-- Delete button   -->
    <button th:fragment="delete-button" hx:get="@{/collections/delete-confirmation}" hx-target="#confirm-delete" hx-swap="innerHTML" id="delete-button" type="button"
            class="absolute right-2 bottom-2 opacity-0 group-hover:opacity-100 bg-red-600
                   hover:bg-red-700 text-white rounded-md px-1 border border-red-500 transition-colors duration-200 hover:cursor-pointer">
        <span style="font-size: 16px; line-height: 1;">✕</span>
    </button>

    <!-- Favorite button-->
    <button th:fragment="fav-button (movieId, isFavorited)"
            sec:authorize="isAuthenticated()"
            hx:post="@{/collections/favorites/{movie_id}(movie_id=${movieId})}"
            hx-target="this"
            hx-swap="outerHTML"
            th:attr="hx-vals=${'{&quot;' + _csrf.parameterName + '&quot;:&quot;' + _csrf.token + '&quot;}'}"
            type="button"
            th:classappend="${isFavorited} ? 'opacity-100 pointer-events-auto' : 'opacity-0 group-hover:opacity-100 pointer-events-none group-hover:pointer-events-auto'"
            class="absolute top-2 right-2
               rounded-md bg-none p-1.5
               transition-all
               hover:shadow
               hover:bg-white/20">

        <!-- Filled heart if favorited -->
        <svg th:if="${isFavorited}"
             xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 24 24"
             fill="currentColor"
             class="w-5 h-5 text-red-500">
            <path d="m11.645 20.91-.007-.003-.022-.012a15.247 15.247 0 0 1-.383-.218 25.18 25.18 0 0 1-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0 1 12 5.052 5.5 5.5 0 0 1 16.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 0 1-4.244 3.17 15.247 15.247 0 0 1-.383.219l-.022.012-.007.004-.003.001a.752.752 0 0 1-.704 0l-.003-.001Z" />
        </svg>

        <!-- Outline heart if not favorited -->
        <svg th:unless="${isFavorited}" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
             class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round"
                  d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
        </svg>
    </button>

    <!-- Watched -->
    <button th:fragment="watched-button (movieId, isWatched)"
            sec:authorize="isAuthenticated()"
            hx:post="@{/movies/history/toggle}"
            hx-target="this"
            hx-swap="outerHTML"
            hx:vals="${ {_csrf.parameterName : _csrf.token, movieId : movieId} }"
            type="button"
            th:classappend="${isWatched} ? 'opacity-100 pointer-events-auto' : 'opacity-0 group-hover:opacity-100 pointer-events-none group-hover:pointer-events-auto'"
            class="absolute top-10 right-2
               rounded-md bg-none p-1.5
               transition-all
               hover:shadow
               hover:bg-white/20">

        <!-- Filled if watched -->
        <svg th:if="${isWatched}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="h-5 w-5 fill-emerald-500">
            <path d="M12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
            <path fill-rule="evenodd" d="M1.323 11.447C2.811 6.976 7.028 3.75 12.001 3.75c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113-1.487 4.471-5.705 7.697-10.677 7.697-4.97 0-9.186-3.223-10.675-7.69a1.762 1.762 0 0 1 0-1.113ZM17.25 12a5.25 5.25 0 1 1-10.5 0 5.25 5.25 0 0 1 10.5 0Z" clip-rule="evenodd" />
        </svg>

        <!-- Outline eye if not watched -->
        <svg th:unless="${isWatched}" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-5 w-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
            <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
        </svg>

    </button>

    <!-- Drop down menu for more options -->
    <el-dropdown th:fragment="movie-options(movieId, movieTitle)" sec:authorize="isAuthenticated()"
                 class="absolute opacity-0 group-hover:opacity-100 top-18 right-2 inline-block">
        <button
                class="w-full justify-center gap-x-1.5 p-1.5 rounded-md text-sm font-semibold text-white hover:bg-white/20">

            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                <path fill-rule="evenodd"
                      d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm0 8.625a1.125 1.125 0 1 0 0 2.25 1.125 1.125 0 0 0 0-2.25ZM15.375 12a1.125 1.125 0 1 1 2.25 0 1.125 1.125 0 0 1-2.25 0ZM7.5 10.875a1.125 1.125 0 1 0 0 2.25 1.125 1.125 0 0 0 0-2.25Z"
                      clip-rule="evenodd" />
            </svg>

        </button>

        <el-menu anchor="bottom end" popover
                 class="w-56 origin-top-right divide-y divide-emerald-500 rounded-md bg-emerald-700 outline-1 -outline-offset-1 outline-white/10 transition transition-discrete [--anchor-gap:--spacing(2)] data-closed:scale-95 data-closed:transform data-closed:opacity-0 data-enter:duration-100 data-enter:ease-out data-leave:duration-75 data-leave:ease-in">
            <div class="py-1">
                <a href="#"
                   class="block px-4 py-2 text-sm text-white focus:bg-emerald-800 focus:text-white focus:outline-hidden">Notify
                    on release</a>
            </div>
            <div class="py-1">
                <button hx:get="@{/user/collections(movie_id=${movieId}, movie_title=${movieTitle})}" hx-target="body" hx-swap="beforeend" type="button"
                        class="block text-start px-4 py-2 text-sm text-white focus:bg-emerald-800 focus:text-white focus:outline-hidden w-full cursor-pointer">Add
                    to collection</button>
                <a href="#"
                   class="block px-4 py-2 text-sm text-white focus:bg-emerald-800 focus:text-white focus:outline-hidden">Add
                    to watchlist</a>
            </div>
        </el-menu>
    </el-dropdown>

<!--Favorite button with hx:vals-->
<!--    <button sec:authorize="isAuthenticated()" hx:post="@{/collections/favorites/{movie_id}(movie_id=${movie.id})}" hx-target="#added" hx-swap="innerHTML" hx:vals="${ {_csrf.parameterName: _csrf.token } }"
            type="button" class="absolute top-2 right-2
                               opacity-0 group-hover:opacity-100
                               pointer-events-none group-hover:pointer-events-auto
                               rounded-md bg-none p-1.5 border border-emerald-600
                               text-center text-sm text-white transition-all shadow-sm
                               hover:shadow focus:bg-emerald-500 focus:shadow-none
                               active:bg-slate-700 hover:bg-emerald-700 active:shadow-none
                               disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4">
            <path
                    d="M2 6.342a3.375 3.375 0 0 1 6-2.088 3.375 3.375 0 0 1 5.997 2.26c-.063 2.134-1.618 3.76-2.955 4.784a14.437 14.437 0 0 1-2.676 1.61c-.02.01-.038.017-.05.022l-.014.006-.004.002h-.002a.75.75 0 0 1-.592.001h-.002l-.004-.003-.015-.006a5.528 5.528 0 0 1-.232-.107 14.395 14.395 0 0 1-2.535-1.557C3.564 10.22 1.999 8.558 1.999 6.38L2 6.342Z" />
        </svg>
    </button>-->

</body>
</html>