<!-- Change password form -->
<th:block th:fragment="password-change">
    <div id="change-password">
        <div>
            <h3 class="text-xl border-b-2 border-emerald-700 text-white p-2">Change password</h3>
        </div>
        <form hx:post="@{/user/account/settings/process-change-password}"
              hx-target="#change-password" hx-swap="innerHTML" hx:vals="${ {_csrf.parameterName: _csrf.token } }"
              th:object="${changePasswordDto}" class="flex flex-col space-y-3 m-2">

            <div th:if="${#fields.hasErrors('all')}">
                <div class="relative rounded border border-red-400 bg-red-100 px-4 py-3 text-red-700 w-full"
                     role="alert">
                    <span class="block sm:inline">Please fix the following errors.</span>
                    <span class="absolute top-0 right-0 bottom-0 px-4 py-3">
                          <svg class="h-6 w-6 fill-current text-red-500" role="button"
                               xmlns="http://www.w3.org/2000/svg"
                               viewBox="0 0 20 20">
                            <title>Close</title>
                            <path
                                    d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/>
                          </svg>
                        </span>
                    <ul class="max-w-md list-inside list-disc pl-2 text-red-700">
                        <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
                    </ul>
                </div>
            </div>

            <label for="current-password" class="font-medium text-white">Current password</label>
            <input th:field="*{currentPassword}" type="password" id="current-password" required
                   autocomplete="current-password" class="bg-emerald-200 rounded-md px-3">

            <label for="new-password" class="font-medium text-white">New password</label>
            <input th:field="*{newPassword}" type="password" id="new-password" required autocomplete="new-password"
                   class="bg-emerald-200 rounded-md px-3">

            <label for="confirm-password" class="font-medium text-white">Confirm new password</label>
            <input th:field="*{confirmNewPassword}" type="password" id="confirm-password" required
                   autocomplete="new-password" class="bg-emerald-200 rounded-md px-3">

            <button type="submit" class="bg-gradient-to-br from-amber-900 via-amber-800/100 to-amber-900  rounded-md text-white w-fit self-end p-2 font-semibold
                    hover:bg-gradient-to-br hover:from-amber-800 hover:via-amber-700 hover:to-amber-800 hover:cursor-pointer">
                CHANGE
            </button>

        </form>
    </div>
</th:block>