<th:block th:fragment="head (pageTitle)">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, intial-scale=1" />
    <title th:text="${pageTitle}"></title>
    <link rel="stylesheet" th:href="@{/tailwind.css}">
<!--    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1" type="module"></script>-->
    <script type="text/javascript" th:src="@{/webjars/htmx.org/2.0.8/dist/htmx.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/hyperscript.org/0.9.93/dist/_hyperscript.min.js}"></script>
    <!--<script src="https://unpkg.com/hyperscript.org@0.9.14"></script>-->
<!--    <script type="text/javascript" th:src="@{/js/scroll-to-top.js}"></script>-->
</th:block>

<header th:fragment="navbar" class="fixed top-0 right-0 left-0 z-10">
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>
</header>

<div th:fragment="watchedHistoryHeader (watchedOnDate)" id="watchedOnDateHeader" class="flex gap-x-1 items-center mb-1">
    <span th:text="${#temporals.format(watchedOnDate, 'MMM dd, yyyy')}" class="text-sm font-semibold text-white group-header">Aug 07, 2026</span>
    <button
            th:hx-get="@{/user/movies/history/edit(watchedOn=${watchedOnDate})}"
            th:hx-swap="outerHTML"
            hx-target="closest #watchedOnDateHeader"
            type="submit"
            class="flex items-center p-1 hover:cursor-pointer"
    >
        <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 16 16"
                fill="currentColor"
                class="size-4 fill-emerald-100 hover:fill-emerald-300 transition-colors"
        >
            <path d="M13.488 2.513a1.75 1.75 0 0 0-2.475 0L6.75 6.774a2.75 2.75 0 0 0-.596.892l-.848 2.047a.75.75 0 0 0 .98.98l2.047-.848a2.75 2.75 0 0 0 .892-.596l4.261-4.262a1.75 1.75 0 0 0 0-2.474Z"/>
            <path d="M4.75 3.5c-.69 0-1.25.56-1.25 1.25v6.5c0 .69.56 1.25 1.25 1.25h6.5c.69 0 1.25-.56 1.25-1.25V9A.75.75 0 0 1 14 9v2.25A2.75 2.75 0 0 1 11.25 14h-6.5A2.75 2.75 0 0 1 2 11.25v-6.5A2.75 2.75 0 0 1 4.75 2H7a.75.75 0 0 1 0 1.5H4.75Z"/>
        </svg>
    </button>
</div>