<div th:fragment="movie-card (movies)" th:each="movie : ${movies}"
     class="max-w-47 rounded-xl p-0.5 shadow-xl bg-emerald-800 flex flex-col justify-start">

    <div class="group relative rounded-xl overflow-hidden min-h-67">
        <img th:src="'http://image.tmdb.org/t/p/w185' + ${movie.posterPath}"
             class="w-full h-full block" alt="Poster">

        <div sec:authorize="isAuthenticated()" class="absolute inset-0 bg-black/50 opacity-0
                    group-hover:opacity-100 transition-opacity duration-300">
        </div>
        <th:block th:replace="~{fragments/buttons:: youtube-button(trailerUrl = ${movie.trailer})}">
        </th:block>
        <!-- Include favorite button fragment -->
        <th:block sec:authorize="isAuthenticated()"
                  th:replace="~{fragments/buttons :: fav-button(
                                movieId=${movie.id},
                                isFavorited=${#sets.contains(favoritedMovieIds, movie.id)})}">
        </th:block>
        <!-- Include watched button fragment -->
        <th:block sec:authorize="isAuthenticated()"
                  th:replace="~{fragments/buttons :: watched-button(movieId = ${movie.id}, isWatched = ${#sets.contains(watchedMovieIds, movie.id)})}">

        </th:block>

        <th:block th:replace="~{fragments/buttons :: movie-options(movieId=${movie.id}, movieTitle=${movie.title})}">

        </th:block>
    </div>

    <div class="p-1">
        <p th:text="${movie.title}" class="font-bold">Now You See Me: Now You Don't</p>
        <span th:text="${movie.releaseDate}" class="text-sm font-thin">Nov 7, 2025</span>
    </div>
</div>