<div th:fragment="movie-card (movies)" th:each="movie : ${movies}"
     class="max-w-47 rounded-xl p-0.5 shadow-xl bg-emerald-800 flex flex-col justify-start">

    <div class="group relative rounded-xl overflow-hidden min-h-67">
        <img th:src="'http://image.tmdb.org/t/p/w185' + ${movie.posterPath}"
             class="w-full h-full block" alt="Poster">

        <div sec:authorize="isAuthenticated()" class="absolute inset-0 bg-black/50 opacity-0
                    group-hover:opacity-100 transition-opacity duration-300">
        </div>
        <th:block th:replace="~{fragments/buttons:: youtube-button(trailerUrl = ${movie.trailer})}">
        </th:block>
        <!-- Include favorite button fragment -->
        <th:block sec:authorize="isAuthenticated()"
                  th:replace="~{fragments/buttons :: fav-button(
                                movieId=${movie.id},
                                isFavorited=${#sets.contains(favoritedMovieIds, movie.id)})}">
        </th:block>
        <!-- Include watched button fragment -->
        <th:block sec:authorize="isAuthenticated()"
                  th:replace="~{fragments/buttons :: watch-list-button(movieId = ${movie.id}, isWatchListed = ${#sets.contains(watchListedMovieIds, movie.id)})}">

        </th:block>
        <!-- Bell button for movie subscription -->
        <th:block sec:authorize="isAuthenticated()"
                  th:replace="~{fragments/buttons :: subscribe-to-movie (movieId = ${movie.id}, isSubscribed = ${#sets.contains(subscribedMovieIds, movie.id)})}">
        </th:block>

        <th:block th:replace="~{fragments/buttons :: movie-options(movieId = ${movie.id}, movieTitle = ${movie.title}, streamingDate = ${movie.usDigitalReleaseDate})}">

        </th:block>
    </div>

    <div class="flex m-1 items-center justify-center">
        <div class="flex flex-col flex-1 space-y-1">
            <span th:text="${movie.title}" class="text-sm font-bold">Afterburn</span>
            <span th:text="${movie.releaseDate}" class="text-xs font-thin">Aug 20, 2025</span>
            <span class="text-xs font-extralight">Streaming:
                <span th:text="${movie.usDigitalReleaseDate}">Unknown</span>
            </span>
        </div>
    </div>
</div>