<div th:fragment="nowPlaying-movieCard-container(movie, isLast, nextPage)"
     class="max-w-47 rounded-xl p-0.5 shadow-xl bg-emerald-800 flex flex-col justify-start"
     th:attr="hx-get=${isLast} ? @{/nowPlaying/paged(page=${nextPage})} : null,
                  hx-trigger=${isLast} ? 'revealed' : null,
                  hx-swap=${isLast} ? 'afterend' : null">

    <th:block th:replace="~{fragments/movie-card :: movieCard}"></th:block>
</div>

<div th:fragment="upcoming-movieCard-container(movie, isLast, nextPage)"
     class="max-w-47 rounded-xl p-0.5 shadow-xl bg-emerald-800 flex flex-col justify-start"
     th:attr="hx-get=${isLast} ? @{/nowPlaying/paged(page=${nextPage})} : null,
                  hx-trigger=${isLast} ? 'revealed' : null,
                  hx-swap=${isLast} ? 'afterend' : null">

    <th:block th:replace="~{fragments/movie-card :: movieCard}"></th:block>
</div>

<div th:fragment="trending-movieCard-container(movie, isLast, nextPage)"
     class="max-w-47 rounded-xl p-0.5 shadow-xl bg-emerald-800 flex flex-col justify-start"
     th:attr="hx-get=${isLast} ? @{/trending/paged(page=${nextPage})} : null,
                  hx-trigger=${isLast} ? 'revealed' : null,
                  hx-swap=${isLast} ? 'afterend' : null">

    <th:block th:replace="~{fragments/movie-card :: movieCard}"></th:block>
</div>