
<th:block th:fragment="nowPlayingPage (pagedMovies)">
  <th:block th:each="movie, iterStat : ${pagedMovies.movies}">
    <th:block th:with="isLast = ${iterStat.last && pagedMovies.hasNext} ? true : false">
      <div th:replace="~{fragments/movie-card-container :: nowPlaying-movieCard-container (movie=${movie}, isLast=${isLast}, nextPage=${pagedMovies.nextPage})}"></div>
    </th:block>
  </th:block>
</th:block>

<th:block th:fragment="upcomingPage (pagedMovies)">
  <th:block th:each="movie, iterStat : ${pagedMovies.movies}">
    <th:block th:with="isLast = ${iterStat.last && pagedMovies.hasNext} ? true : false">
      <div th:replace="~{fragments/movie-card-container :: upcoming-movieCard-container (movie=${movie}, isLast=${isLast}, nextPage=${pagedMovies.nextPage})}"></div>
    </th:block>
  </th:block>
</th:block>

<th:block th:fragment="trendingPage (pagedMovies)">
  <th:block th:each="movie, iterStat : ${pagedMovies.movies}">
    <th:block th:with="isLast = ${iterStat.last && pagedMovies.hasNext} ? true : false">
      <div th:replace="~{fragments/movie-card-container :: trending-movieCard-container (movie=${movie}, isLast=${isLast}, nextPage=${pagedMovies.nextPage})}"></div>
    </th:block>
  </th:block>
</th:block>