
<th:block th:fragment="nowPlayingPage (pagedMovies)">
  <th:block th:each="movie, iterStat : ${pagedMovies.movies}">
    <th:block th:with="isLast = ${iterStat.last && pagedMovies.hasNext} ? true : false">
      <div th:replace="~{fragments/movie-card-container :: nowPlaying-movieCard-container (movie=${movie}, isLast=${isLast}, nextPage=${pagedMovies.nextPage})}"></div>
    </th:block>
  </th:block>
</th:block>

<th:block th:fragment="upcomingPage (pagedMovies)">
  <th:block th:each="movie, iterStat : ${pagedMovies.movies}">
    <th:block th:with="isLast = ${iterStat.last && pagedMovies.hasNext} ? true : false">
      <div th:replace="~{fragments/movie-card-container :: upcoming-movieCard-container (movie=${movie}, isLast=${isLast}, nextPage=${pagedMovies.nextPage})}"></div>
    </th:block>
  </th:block>
</th:block>

<th:block th:fragment="trendingPage (pagedMovies)">
  <th:block th:each="movie, iterStat : ${pagedMovies.movies}">
    <th:block th:with="isLast = ${iterStat.last && pagedMovies.hasNext} ? true : false">
      <div th:replace="~{fragments/movie-card-container :: trending-movieCard-container (movie=${movie}, isLast=${isLast}, nextPage=${pagedMovies.nextPage})}"></div>
    </th:block>
  </th:block>
</th:block>

<div th:fragment="collectionPage (collectionView)" id="collections-container">
  <th:block th:each="collection, iterStat : ${collectionView.collections}">
    <th:block th:with="isLast = ${iterStat.last && collectionView.hasNext} ? true : false">
      <div th:replace="~{fragments/collection-card :: collection-card (collection = ${collection}, isLast=${isLast}, nextPage=${collectionView.nextPage})}"></div>
    </th:block>

  </th:block>

  <!-- Empty state -->
  <div th:if="${collectionView.collections.isEmpty()}"
       class="flex-1 flex flex-col items-center justify-center text-center text-white text-xl py-12">
    <p>No collections found 😔</p>
    <p class="text-sm mt-2 text-gray-400">Collections are the perfect way to group films!</p>
  </div>
</div>