<div th:fragment="register-form" class="max-w-md w-full mx-auto border-2 border-emerald-700 shadow-lg rounded-2xl p-8 text-white">
    <div class="text-center mb-12 text-2xl font-bold">
        <h3>Register Now</h3>
    </div>
    <div th:if="${error}" class="text-red-600">
        <p th:text="${error}"></p>
    </div>
    <form th:action="@{/register}" th:object="${registerUserDto}" method="POST">
        <div class="space-y-6">

            <label for="username" class="text-sm font-medium mb-2 block">Username</label>
            <input id="username" autocomplete="username" name="username" th:field="*{username}" type="text" required th:classappend="${#fields.hasErrors('username')} ? 'border-red-500' : 'border-gray-300'" class="text-slate-900 bg-white border w-full text-sm px-4 py-3 rounded-md outline-emerald-500"
                   placeholder="Username" />
            <div th:if="${#fields.hasErrors('username')}" class="text-red-600">
                <p th:errors="*{username}"></p>
            </div>

            <label for="email" class="text-sm font-medium mb-2 block">Email</label>
            <input id="email" name="email" type="email" required autocomplete="email" th:field="*{email}" th:classappend="${#fields.hasErrors('email')} ? 'border-red-500' : 'border-gray-300'" class="text-slate-900 bg-white border w-full text-sm px-4 py-3 rounded-md outline-emerald-500" placeholder="Enter email" />
            <div th:if="${#fields.hasErrors('email')}" class="text-red-600">
                <p th:errors="*{email}"></p>
            </div>

            <label for="password" class="text-sm font-medium mb-2 block">Password</label>
            <input id="password" name="password" type="password" th:field="*{password}" required autocomplete="current-password" th:classappend="${#fields.hasErrors('password')} ? 'border-red-500' : 'border-gray-300'" class="text-slate-900 bg-white border w-full text-sm px-4 py-3 rounded-md outline-emerald-500" placeholder="Enter password" />
            <div th:if="${#fields.hasErrors('password')}" class="text-red-600">
                <p th:errors="*{password}"></p>
            </div>

            <label for="confirmPassword" class="text-sm font-medium mb-2 block">Confirm Password</label>
            <input id="confirmPassword" type="password" required th:field="*{confirmPassword}" autocomplete="current-password" th:classappend="${#fields.hasErrors('confirmPassword')} ? 'border-red-500' : 'border-gray-300'" class="text-slate-900 bg-white border w-full text-sm px-4 py-3 rounded-md outline-emerald-500" placeholder="Enter confirm password" />
            <div th:if="${#fields.hasErrors('confirmPassword')}" class="text-red-600">
                <p th:errors="*{confirmPassword}"></p>
            </div>

            <div class="flex items-center">
                <input id="terms-conditions" name="terms-conditions" type="checkbox" class="h-4 w-4 shrink-0 text-blue-600 focus:ring-blue-500 border-gray-300 rounded" />
                <label for="terms-conditions" class="text-white ml-3 block text-sm">
                    I accept the <a href="javascript:void(0);" class="text-blue-500 font-medium hover:underline ml-1">Terms and Conditions</a>
                </label>
            </div>
        </div>

        <div class="mt-12">
            <button type="submit" class="w-full py-3 px-4 text-sm tracking-wider font-medium rounded-md text-white bg-gradient-to-br from-amber-900 via-amber-800 to-amber-900 hover:from-amber-800 hover:via-amber-700 hover:to-amber-800 transition-all duration-300 cursor-pointer">
                Create an account
            </button>
        </div>
        <p class="text-white text-sm mt-6 text-center">Already have an account? <a th:href="@{/auth/login}" class="text-blue-500 font-medium hover:underline ml-1">Login here</a></p>
    </form>
</div>