<th:block th:fragment="set-password">
  <div>
    <div>
      <h3 class="text-xl border-b-2 border-emerald-700 text-white p-2">Set password</h3>
    </div>
    <div id="setup-password" class="flex flex-col mt-4 items-center space-y-6">
      <h1 class="text-white">You signed in with Google — no password set. Click below to set one if you want to login via email/password too.</h1>
      <button
              hx-post="/auth/profile/setup-password"
              hx-target="#setup-password"
              hx-swap="innerHTML"
              hx:vals="${ {_csrf.parameterName: _csrf.token } }"
              class="bg-gradient-to-br from-amber-900 via-amber-800/100 to-amber-900  rounded-md text-white p-2 font-semibold
                                        hover:bg-gradient-to-br hover:from-amber-800 hover:via-amber-700 hover:to-amber-800 hover:cursor-pointer">Set
        Password</button>
    </div>
  </div>
</th:block>

<th:block th:fragment="set-password-success">
    <div class="flex flex-col items-center text-white mt-4">
        <div class="flex justify-center">
            <svg class="size-6 text-green-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
            </svg>
        </div>
        <p>We have sent a link to [[${email}]]</p>
        <p>Please follow the link to set a password</p>
    </div>
</th:block>