<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="~{fragments/head :: head (pageTitle='Log in') }">
</head>
<body>

<div class="min-h-screen grid grid-rows-[auto_1fr] bg-gradient-to-br from-emerald-950 via-emerald-800 to-emerald-950">
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>
    <div class="flex flex-col justify-center p-4">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
            <img src="https://tailwindcss.com/plus-assets/img/logos/mark.svg?color=indigo&shade=500" alt="Your Company" class="mx-auto h-10 w-auto" />
            <h2 class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-white">Sign in to your account</h2>

            <!-- Show only if user is coming from a successful change password request  -->
            <div th:if="${passwordChangeSuccess}" role="alert" class="mt-3 relative flex flex-col w-full p-3 text-sm text-white bg-emerald-700/80 rounded-md">
                <p class="flex text-base">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                         stroke="currentColor" class="h-5 w-5 mr-2 mt-0.5">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z">
                        </path>
                    </svg>
                    Success
                </p>
                <p class="ml-4 p-3 leading-tight">
                    Password changed successfully! <br> Please log in again with your new password.
                </p>

                <!-- Inline handling of the onclick event to hide the parent div -->
                <button hx-on:click="this.closest('[role=alert]').classList.add('hidden')"
                        class="flex items-center justify-center transition-all w-8 h-8 rounded-md text-white hover:bg-white/10 active:bg-white/10 absolute top-1.5 right-1.5 hover:cursor-pointer"
                        type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                         class="h-5 w-5" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
                    </svg>
                </button>
            </div>

            <div th:if="${redirectSuccess}" th:replace="~{fragments/alerts :: successAlert(alertMessage=${redirectSuccess})}"></div>
        </div>

        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
            <div th:if="${loginError}" >
                <div class="rounded-md bg-red-50 p-2">
                    <div class="flex justify-center">
                        <div class="flex-shrink-0">
                            <svg class="h-5 w-5 text-red-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.28 7.22a.75.75 0 00-1.06 1.06L8.94 10l-1.72 1.72a.75.75 0 101.06 1.06L10 11.06l1.72 1.72a.75.75 0 101.06-1.06L11.06 10l1.72-1.72a.75.75 0 00-1.06-1.06L10 8.94 8.28 7.22z" clip-rule="evenodd" />
                            </svg>
                        </div>
                        <div class="ml-3">
                            <h3 th:text="${loginError}" class="text-sm font-medium text-red-800">Invalid Username and Password</h3>
                        </div>
                    </div>
                </div>
            </div>


            <form th:action="@{/auth/login}" method="POST" class="space-y-6">
                <div>
                    <label for="username" class="block text-sm/6 font-medium text-gray-100">Username</label>
                    <div class="mt-2">
                        <input id="username" type="text" name="username" required autocomplete="username"
                               class="block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-white/10 focus:outline-2 focus:-outline-offset-2 focus:outline-emerald-500 sm:text-sm/6" />
                    </div>
                </div>

                <div>
                    <div class="flex items-center justify-between">
                        <label for="password" class="block text-sm/6 font-medium text-gray-100">Password</label>
                        <div class="text-sm">
                            <a th:href="@{/auth/forgetPassword}" class="font-semibold text-indigo-400 hover:text-indigo-300">Forgot password?</a>
                        </div>
                    </div>
                    <div class="mt-2">
                        <input id="password" type="password" name="password" required autocomplete="current-password" class="block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white
                        outline-1 -outline-offset-1 outline-white/10 focus:outline-2 focus:-outline-offset-2
                        focus:outline-emerald-500 sm:text-sm/6" />
                    </div>
                </div>

                <div>
                    <button type="submit" class="flex w-full justify-center rounded-md
                                            bg-amber-900 hover:bg-amber-800 transition-all duration-300
                                            px-3 py-1.5 text-sm/6 font-semibold text-white hover:cursor-pointer
                                            ">Sign in</button>
                </div>
            </form>

            <p class="mt-10 text-center text-sm/6 text-gray-400">
                Not a member?
                <a th:href="@{/register}" class="font-semibold text-indigo-400 hover:text-indigo-300">Click here to register</a>
            </p>
        </div>
    </div>
</div>

</body>
</html>
