<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/head :: head (pageTitle='Trending Movies') }">
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="flex items-center justify-center bg-gradient-to-br from-emerald-950 via-emerald-900 to-emerald-950 pt-2">
    <div class="grid min-h-[50px] gap-2 gap-y-3 rounded-xl px-[20px] pt-2 sm:grid-cols-5 text-white">
        <div class="col-span-2 flex min-h-[50px] items-center rounded-lg shadow-xl">
            <div class="m-6 space-y-2">
                <div class="max-w-20 border-t pt-2"></div>
                <span class="text-5xl">Movies Trending</span><br>
                <span class=" text-5xl">this Week</span>
                <p class="text-2xl font-light">Most watched movies this week</p>
                <div class="border-t-1"></div>
            </div>
        </div>

        <th:block th:replace="~{fragments/page :: trendingPage (pagedMovies = ${pagedMovies})}">

        </th:block>
        <!-- Container for toast notifications -->
        <div id="toast-container" class="fixed top-5 right-5 flex flex-col gap-2 z-50"></div>

    </div>
</div>
</body>
</html>